@import "bootstrap";

 body {
      position: relative; 
  }
   img{width: 300px;
     border-radius: 50%;
     border: 2px solid white;
    
  }
  .cent{text-align: center;}
  .dis{display: inline-block;}
  ul{list-style: none;}
  .cc{margin-left: 200px;}
  footer{padding: 300px 10px 10px 10px;
    font-size: 10px;
  }

  #section1 {padding-top:50px;height:500px;color: #fff; background-color: #1E88E5;}
  #section2 {padding-top:50px;height:500px;color: #fff; background-color: #673ab7;}
  #section3 {padding-top:50px;height:500px;color: #fff; background-color: #ff9800;}
  #section4 {padding-top:50px;height:500px;color: #fff; background-color: #00bcd4;}
  #section5 {padding-top:50px;height:500px;color: #fff; background-color: #009688;}
  #section6 {padding-top:50px;height:500px;color: #fff; background-color: #1E88E5;}
  #section7 {padding-top:50px;height:500px;color: #fff; background-color: #673ab7;}
  #section8 {padding-top:50px;height:500px;color: #fff; background-color: #ff9800;}
  #section9 {padding-top:50px;height:500px;color: #fff; background-color: #00bcd4;}
  